html,body{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background: black;
			overflow: hidden;
			font-family: Helvetica, arial, sans-serif;
		}
		.form{
			position: fixed;top: 20px;left:10px;
			color: white;
			border: 1px solid white;
			padding: 20px;
			background: rgba(255,255,255,.1);
		}
		label{display: block;}
		input[type=range]{width:150px;}
		a{color:black;text-decoration: none;}
		a:hover{text-decoration: underline;}
		button{background: white;border: none;padding: 5px;display: block;text-align: center;width:100px;}
		label,button{margin:10px 0;}